<ion-content>

  <div id="background">

    <!-- <div class="alinear_centro letras_blancas" style="padding-top: 2em;">
      <h3 class="bahnschrift">
        P O R T A F O L I O
      </h3>
    </div> -->

    <div class="container">

      <ion-grid>


        <ion-row>

          <ion-col class="ion-padding alinear_centro letras_blancas" size="12">

            <div>
              <span id="nick" class="titulos thundergood">
                Pasente
              </span>

            </div>

          </ion-col>

        </ion-row>

      </ion-grid>


    </div>

    <ion-grid>


      <ion-row>

        <ion-col class="alinear_centro letras_blancas" size="12" size-lg="6">
          <div class="acumin bold texto " style="text-align: center;">
            Hola, soy fotógrafo, Tecnico en Producción Gráfica y actualmente cursando una carrera,
            amante
            de la música y las nuevas experiencias
          </div>

        </ion-col>

        <ion-col id="divisor" class="alinear_centro" size-lg="1">
          <div id="divisor" style="border-left: 3px solid white;
        height: 100px;"></div>
        </ion-col>




        <ion-col class="ion-padding alinear_centro letras_blancas" size="12" size-lg="5">

          <div class="acumin texto">

            <ion-icon class="ion-padding-horizontal" name="map-outline"></ion-icon>
            Cali, Colombia

            <br>

            <ion-icon class="ion-padding-horizontal" name="mail-outline"></ion-icon>
            juancamiloom05@gmail.com
          </div>

        </ion-col>

      </ion-row>

    </ion-grid>


    <app-fotos class="ion-padding-vertical"></app-fotos>
  </div>

</ion-content>